:root {
  --white: #ffffff;
  --darkWhite: #ccc;
  --black: #000000;
  --dark: #615c60;
  --themeColor: #22b8d1;
}

/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.page[size=\"A4\"] {
  width: 21cm;
  height: 29.7cm;
  overflow: hidden;
}

.bb {
  border-bottom: 3px solid var(--darkWhite);
}

.top-content {
  padding-bottom: 15px;
}

.logo img {
  height: 150px;
}

.top-right p {
  margin: 0;
}

.top-right b {
  font-size: 25px;
}

.customer {
  padding-bottom: 25px;
}

.customer p {
  margin: 0;
  font-weight: 600;
}

.customer .address {
  font-weight: 400;
}

.customer h2 {
  color: var(--themeColor);
  font-family: 'Rajdhani', sans-serif;
}

.extra-info p span {
  font-weight: 400;
}

thead {
  color: var(--white);
  background: var(--themeColor);
}

.table td,
.table th {
  text-align: left;
  vertical-align: middle;
}

tr th:first-child,
tr td:first-child {
  text-align: left;
}

.media p {
  font-weight: 400;
  margin: 0;
}

.media p.title {
  font-weight: 600;
}